* {
    padding: 0;
    margin: 0;
    list-style: none;
}
div {
	width: 100px;
	height: 100px;
	margin: 100px;
}
div:first-child {
	background-color: #ff0000;
	border-top: 5px solid #000000;
	-webkit-transform: skew(45deg, 20deg);
	-ms-transform: skew(45deg, 20deg);
	transform: skew(45deg, 20deg);
}
div:last-child {
	background-color: #000000;
}