* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body > div {
	width: 500px;
	height: 500px;
	background-color: #000000;
}

body > div > div {
	width: 100px;
	height: 100px;
	background-color: #ffff00;
	margin: 100px 200px;
}
body > div > div:first-child {
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
}
body > div:hover > div:first-child {
	-webkit-transform: translate(100px) scaleX(2);
	-ms-transform: translate(100px) scaleX(2);
	transform: translate(100px) scaleX(2);
}
함수값 입력하는 순서 지키기
두가지 값 지정 가능
