* {
    padding: 0;
    margin: 0;
    list-style: none;
}
br {
	clear: both;
}
div.inner {
	width: 1280px;
	margin: 0 auto;
}
.headerinner {
	border-bottom: 1px solid #ffffff;
	padding: 30px 0 20px 0;
	position: relative;
}
header > section:first-child {
	background-color: #39b8e3;
	height: 50px;
}
header > section:last-child {
	background-color: #175e96;
}
h1.logo {
	position: absolute;
	width: 250px;
	height: 80px;
	border: 4px solid #39b8e3;
	box-sizing: border-box;
	background-color: #ffffff;
	float: left;
}
.infolink, .mainmenu {
	float: right;
}
.headerinner ul > li {
	display: inline-block;
	margin: 5px 0 10px  0;
}
.infolink li {
	width: 60px;
	height: 25px;
	background-color: #ffffff;
	text-align: center;
}
.mainmenu li {
	width: 80px;
	height: 30px;
	background-color: #ffffff;
	text-align: center;
	padding-top: 5px;
}
div.headerinner  article:first-child {
	width: 750px;
	height: 350px;
	background-color: #ffffff;
	margin-top: 60px;
}
div.headerinner article:last-child {
	position: absolute;
	width: 350px;
	height: 120px;
	background-color: #39b8e3;
	right: 0;
	bottom: 0;
}
#contentsArea {
	height: 1300px;
	background-color: #ffffff;
	position: relative;
}
#contentsArea section:first-child {
	width: 640px;
	height: 600px;
	background-color: #aadaff;
	float: left;
}
#contentsArea section:nth-child(2) {
	width: 640px;
	height: 700px;
	background-color: #0a1c5a;
	float: right;
}
#contentsArea section:nth-child(3) {
	width: 640px;
	height: 700px;
	background-color: #39b8e3;
	float: left;
}
#contentsArea section:nth-child(4) {
	width: 640px;
	height: 600px;
	background-color: #031233;
	float: right;
}
#contentsArea section:nth-child(3) > article:first-child {
	width: 700px;
	height: 400px;
	background-color: #1a3677;
	position: absolute;
	left: 0;
	bottom: 0;
	float: left;
}




































