* {
    padding: 0;
    margin: 0;
    list-style: none;
}
br {
	clear: both;
}
.inner {
	width: 1280px;
	margin: 0 auto;
	position: relative;
}
header > div:nth-child(2) > div.inner {
	height: 788px;
}
header > div:first-child {
	background-color: #39b8e3;
	height: 50px;
}
header .inner > div:first-child {
	border-bottom: 1px solid #ffffff;
}
header > div:nth-child(2) {
	background-color: #175e96;
	position: relative;
}

header div.inner > div:nth-child(2) {
	height: 635px;
}
header h1.logo > a {
	width: 250px;
	height: 80px;
	border: 4px solid #39b8e3;
	box-sizing: border-box;
	background-color: #ffffff;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}
header ul {
	text-align: right;
}
header li {
	display: inline-block;
}
header a {
	display: block;
	background-color: #ffffff;
	margin-top: 20px
}
nav li:last-child > a {
	background-color: #35aadf;
}
header ul.infolink a {
	padding: 5px 10px;
}
header ul.mainmenu a {
	padding: 0 20px;
	line-height: 50px;
}
header div.inner > div:nth-child(2) {
	width: 750px;
	height: 350px;
	background-color: #ffffff;
	margin-top: 30px;
}
header div.inner > a {
	display: block;
	width: 350px;
	height: 120px;
	background-color: #39b8e3;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
#contentsarea > section:first-child {
	height: 1300px;
	background-color: #ffffff;
	position: relative;
}
#contentsarea > section:nth-child(2) {
	height: 1550px;
}
#contentsarea > section:first-child > article:first-child {
	width: 700px;
	height: 400px;
	background-color: #1a3677;
	position: absolute;
	bottom: 0;
}
#contentsarea >  section:first-child > div > article:first-child,
#contentsarea >  section:first-child > div > article:nth-child(4) {
	width: 640px;
	height: 600px;
} 
#contentsarea >  section:first-child > div > article:nth-child(2),
#contentsarea >  section:first-child > div > article:nth-child(3) {
	width: 640px;
	height: 700px;
}
#contentsarea >  section:first-child > div > article:first-child {
	background-color: #aadaff;
	float: left;
}
#contentsarea >  section:first-child > div > article:nth-child(2) {
	background-color: #0a1c5a;
	float: right;
}
#contentsarea >  section:first-child > div > article:nth-child(3) {
	background-color: #39b8e3;
	float: left;
}
#contentsarea >  section:first-child > div > article:nth-child(4) {
	background-color: #031233;
	float: right;
}
#contentsarea > section:nth-child(2) div.inner {
	position: relative;
}
#contentsarea div.inner > article > article {
	width: 400px;
	height: 100px;
	background-color: #ffffff;
	margin-top: 30px;
	margin-left: 30px;
}
#contentsarea div.inner > article > div {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	margin-top: 20px;
	-webkit-transform: translate(-25px, 450px);
	-ms-transform: translate(-25px, 450px);
	transform: translate(-25px, 450px);
	cursor: pointer;
}
#contentsarea > section:nth-child(2) > section:first-child {
	height: 670px;
	background-color: #aadaff;
}
#contentsarea > section:nth-child(2) > section:nth-child(2) {
	height: 900px;
	background-color: #0e2052;
}
#contentsarea > section:nth-child(2) div.inner > article:first-child {
	width: 750px;
	height: 350px;
	background-color: #ffffff;
	position: absolute;
	top: 100px;
}
#contentsarea > section:nth-child(2) div.inner > article:nth-child(2) {
	width: 750px;
	height: 300px;
	width: 1280px;
	background-color: #39b8e3;
	position: absolute;
	top: 550px;
}
#contentsarea > section:nth-child(2) div.inner > article:nth-child(3) {
	width: 750px;
	height: 350px;
	background-color: #ffffff;
	position: absolute;
	top: 950px;
}
#footer {
	background-color: #031233;
}
#footer .inner {
	height: 800px;
}
#footer h1 {
	width: 450px;
	height: 80px;
	background-color: #0c2052;
	margin-bottom: 55px;
	float: left;
	margin-top: 80px;
	margin-bottom: 80px;
}
#footer h1 a {
	width: 150px;
	height: 60px;
	margin: 10px;
	background-color: #35aadf;
	float: right;
}
footer > div.inner > div:first-child {
	border-bottom: 1px solid #35415b;
}
#footer div.inner > div:first-child ul li a {
	width: 60px;
	height: 60px;
	background-color: #0c2052;
	margin: 80px 0 80px 20px;
	border-radius: 30px;

	float: right;
}
#footer > .inner >div:nth-child(2) {
	border-bottom: 1px solid #ffffff;
	padding-top: 80px;
}
#footer .inner div:nth-child(2) ul {
	display: inline-block;
	float: left;
	margin-bottom: 80px;
	width: 320px;
}
#footer .inner div:nth-child(2) li {
	margin-bottom: 15px;
}
#footer .inner div:nth-child(2) li:first-child {
	margin-bottom: 20px;
}
#footer .inner div:nth-child(2) li a {
	width: 65px;
	height: 30px;
	background-color: #9b948a;
	padding: 5px;
}
#footer .inner div:nth-child(2) li:first-child a {
	font-size: 20px;
	background-color: #ffffff;
	padding: 9px;
}
#footer > .inner >div:nth-child(2) {
	border-bottom: 1px solid #35415b;
}
footer > div.inner > div:last-child > div {
	width: 500px;
	height: 20px;
	background-color: #9b948a;
	float: left;
	margin-top: 30px;
}
footer > div.inner > div:last-child > ul li {
	width: 80px;
	height: 25px;
	background-color: #0c2052;
	margin: 30px 0 0 40px;
	float: right;
	text-align: center;
	padding-top: 5px;
}
footer > div.inner > div:last-child a {
	text-decoration: none;
	color: #ffffff;
}
div.guide ul:first-child > li:nth-child(3) > a {
	background-color: #35aadf;
}






























