* {
	margin: 0;
	padding: 0;
	list-style: none;
}
div {
	width: 100px;
	height: 100px;
	background-color: black;
}
div:hover {
	background-color: red;
	width: 200px;
}
div:active {
	background-color: blue;
	height: 200px;
}