* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body > div:first-child {
	width: 200px;
	height: 200px;
	background-color: red;
	margin-bottom: 10px;
}
body > div:last-child {
	width: 200px;
	height: 200px;
	background-color: blue;
}
body > div > div {
	width: 10px;
	height: 10px;
	background-color: black;
}

hover active 기본적인 사용 방식 ↓

body > div:first-child > div:active {
	width: 20px;
	height: 20px;
	background-color: yellow;
}
body > div:last-child:active > div {
	width: 20px;
	height: 20px;
	background-color: yellow;
}