* {
	margin: 0;
	padding: 0;
	list-style: none;
}
div {
	width: 200px;
	height: 200px;
	background-color: yellow;
	margin-bottom: 10px;
}
div:first-child {
	background-image: url('../img/bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
img {
	width: 200px;
	height: auto;
}
h2 {
	width: 50px;
	height: 50px;
	background-color: red;
}