* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.clear {
	clear: both;
}
div {
	background-color: #000000;
	width: auto;
}
div.inner {
	width: 1200px;
	margin: 0 auto;
}
iframe {
	width: 1200px;
	height: 700px;
	border: none;
	position: relative;
}
ul.menu {
	display: block;
	position: absolute;
	top: 100px;
	z-index: 1;
	float: left;
}
ul.menu > li > a {
	color: #ffffff;
	text-decoration: none;
	border-top: 1px solid #ffffff;
}
ul.menu > li > a:hover {
	background-color: rgba(0,0,0,0.5);
}
ul.menu > li > a:last-child {
	border-bottom: 1px solid #ffffff;
}
div.inner > div.right {
	background-color: rgba(0,0,0,0.5);
	width: 300px;
	height: 700px;
	float: right;
	position: absolute;
	z-index: 2;
}
div.right > p {
	position: absolute;
	color: white;
}
div.right > p:first-child {
	font-size: 50px;
	float: left;
}
div.right > p:last-child {
	display: block;
	float: clear;
}