* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body > div {
	height: 600px;
	background-color: pink;
	padding-top: 50px;
}
body > div > div {
	width: 500px;
	margin: auto;
	border: 0 solid black;
}
div.red {
	background-color: red;
	float: left;
}
div.yellow {
	background-color: yellow;
	width: 200px;
	height: 200px;
	float: right;
}
div.blue {
	background-color: blue;
	float: right;
}
div.orange {
	background-color: orange;
	float: left;
	margin-bottom: 100px;
}
div.green1 {
	background-color: green;
	float: left;
}
div.skyblue1 {
	background-color: skyblue;
	float: left;
}
div.green2 {
	background-color: green;
	float: right;
	margin-right: 100px;
}
div.gray {
	background-color: gray;
	clear: both;
	float: left;
}
div.purple {
	background-color: purple;
	float: right;
	margin-left: 100px;
}
div.skyblue2 {
	background-color: skyblue;
	float: right;
}
div.black {
	background-color: black;
	clear: both;
	float: left;
}
div.ffcc00 {
	background-color: #ffcc00;
	float: left;
}
div.red, div.blue, div.orange, div.green1, div.skyblue1, div.gray, div.purple, div.ffcc00 {
	width: 100px;
	height: 100px;
}
div.green2, div.skyblue2, div.black {
	width: 200px;
	height: 100px;
}